#template main

set nocompatible              " be iMproved, required
filetype off                  " required

" set the runtime path to include Vundle and initialize
set rtp+=~/.vim/bundle/Vundle.vim
call vundle#begin()

Plugin 'gmarik/Vundle.vim'
Plugin 'tpope/vim-sleuth'
Plugin 'bling/vim-airline'

call vundle#end()            " required
filetype plugin indent on    " required

" Vundle Brief help
" :PluginList       - lists configured plugins
" :PluginInstall    - installs plugins; append `!` to update or just :PluginUpdate
" :PluginSearch foo - searches for foo; append `!` to refresh local cache
" :PluginClean      - confirms removal of unused plugins; append `!` to auto-approve removal
"
" see :h vundle for more details or wiki for FAQ
" Put your non-Plugin stuff after this line

" always show status line
set laststatus=2

" always show tabline
set showtabline=2

" configurations for airline
let g:airline_powerline_fonts=1
let g:airline#extensions#tabline#enabled = 1

set shiftwidth=4
set smartindent
#end template